@import 'colors';
@import 'buttons';

.App {
  text-align: center;
}

body.light {
  background-color: #E3E4F0;
  color: #333333;
}

body.dark {
  background-color: #333333;
  color: #ffffff;
}


.App-header {
  background-color: #E3E4F0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  // font-size: max(12px, min(calc(10px + 2vmin), 36px));

  color: $text;
  font-family: 'Bree Serif', serif;

}

.App-link {
  color: #61dafb;
}
