@import '../_colors.scss';
@import '../_buttons.scss';


.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.nav-right{
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 0px 20px;
  border: 2px solid;
  border-radius: 8px;

  p{
    font-size: 1.2rem;
  }
}
